.missionCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 600px;
    height: 100%;
    max-height: 100%;
    margin: 50px;
    animation: appearance 1s 1;
}

@keyframes appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}

.launchCard {
    width: 100%
}

.launchCard h5{
    text-align: center;
    color: white;
}

.launchCard p{
    font-size: 12px;
    text-align: center;
    color: white;
}

.landCard {
    width: 100%
}

.landCard h5{
    text-align: center;
    color: black;
}

.landCard p{
    font-size: 12px;
    text-align: center;
    color: black;
}