body {
  background: #22272B;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
}

h1 {
  color: white;
}

span {
  color: #005288;
}

.App {
  text-align: center;
}

#logo {
  width: 800px;
  max-width: 90%;
}

.nav {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navItem {
  width: 33%;
  height: 100%;
  border-radius: 2%;
  transition: background-color 200ms ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navItem img {
  max-width: 90%;
  max-height: 80%;
}

.navItem h2 {
  color: white;
  bottom: 0;
  position: absolute;
}

.navItem:hover {
  background-color: #181C1F;
  cursor: pointer;
}

.half {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5%;
  overflow: auto;
}

.patch {
  width: 250px;
  height: 250px;
  margin: 20px auto;
}

.grid {
  grid-template-columns: 2;
  border-radius: 10px;
  overflow: hidden;
}

.grid img {
  width: 50%;
  transition: opacity 200ms ease-out;
}

.grid img:hover {
  opacity: 80%;
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background-color 200ms ease-out;
}

.back:hover {
  background-color:#181C1F;
}

.ant-collapse {
  background: initial;
  border: initial;
  margin-bottom: 10px;
}

.ant-collapse-header {
  color: white !important;
  transition: background-color 200ms ease-out;
  border-radius: 5px !important;
}

.ant-collapse-header:hover {
  background-color: #181C1F
}

.ant-collapse-item {
  border: none !important;
}

.ant-collapse-content {
  background: initial;
  border: none;
  color: white !important;
}

.ant-collapse-content p {
  margin: 5px 0;
}