.launch {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #22272B;
  animation: landToLaunch 400ms 1;
}

.land {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #FFF1E0;
  animation: launchToLand 400ms 1;
}

.modeGroup {
  position: absolute;
  width: 120px;
  height: 70px;
}

@keyframes launchToLand {
  from {background-color: #22272B;}
  to {background-color: #FFF1E0;}
}

@keyframes landToLaunch{
  from {background-color: #FFF1E0;}
  to {background-color: #22272B;}
}